# IMPORT TO LIBRARIES

In [1]:
# Import libraries 
import pandas as pd
import numpy as np
import os

## IMPORT DATA

In [2]:
df = pd.read_csv(r'C:\Users\gryzu\12.03.2023 Instacart Basket Analysis\02 Data\Original Data\orders.csv', index_col = False)

In [3]:
path = r'C:\Users\gryzu\12.03.2023 Instacart Basket Analysis'

In [4]:
path

'C:\\Users\\gryzu\\12.03.2023 Instacart Basket Analysis'

# OS LIBRARY IMPORT / ORDERS

In [5]:
df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'), index_col = False)

In [6]:
vars_list = ['order_id', 'user_id', 'order_number', 'order_dow', 'order_hour_of_day', 'days_since_prior_order']

## CHECKING FIRST 5 ROWS

In [7]:
df.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

# OS LIBRARY IMPORT / PRODUCTS

In [8]:
path = r'C:\Users\gryzu\12.03.2023 Instacart Basket Analysis'

In [9]:
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'))

## CHECKING FIRST 5 AND LAST 5 ROWS

In [10]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [11]:
df_prods.tail()

,product_id,product_name,aisle_id,department_id,prices
49688,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3
49689,49685,En Croute Roast Hazelnut Cranberry,42,1,3.1
49690,49686,Artisan Baguette,112,3,7.8
49691,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8,4.7
49692,49688,Fresh Foaming Cleanser,73,11,13.5

## IDENTIFYING COLUMNS

In [12]:
df_prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49693 entries, 0 to 49692
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49693 non-null  int64
 1   product_name   49677 non-null  object
 2   aisle_id       49693 non-null  int64
 3   department_id  49693 non-null  int64
 4   prices         49693 non-null  float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.9+ MB

In [13]:
df_prods.dtypes

product_id         int64
product_name      object
aisle_id           int64
department_id      int64
prices           float64
dtype: object

## PRINTING NUMBER OF ROWS AND COLUMNS

In [14]:
df_prods.shape

(49693, 5)

# DESCRIPTIVE STATISTICS

In [15]:
df_prods.describe()

         product_id      aisle_id  department_id        prices
count  49693.000000  49693.000000   49693.000000  49693.000000
mean   24844.345139     67.770249      11.728433      9.994136
std    14343.717401     38.316774       5.850282    453.519686
min        1.000000      1.000000       1.000000      1.000000
25%    12423.000000     35.000000       7.000000      4.100000
50%    24845.000000     69.000000      13.000000      7.100000
75%    37265.000000    100.000000      17.000000     11.200000
max    49688.000000    134.000000      21.000000  99999.000000

In [16]:
# the maximum value of of the “aisle_id” column is 134.000000. 
# “department_id” column has 'integer' type of data (taking into account information above from  'Identifying Colums' block)

In [17]:
df_prods.value_counts(dropna = False)

product_id  product_name                                          aisle_id  department_id  prices
35491       Adore Forever Body Wash                               127       11             9.9       2
462         Fiber 4g Gummy Dietary Supplement                     70        11             4.8       2
18458       Ranger IPA                                            27        5              9.2       2
26808       Black House Coffee Roasty Stout Beer                  27        5              13.4      2
35306       Gluten Free Organic Peanut Butter & Chocolate Cereal  121       14             6.8       2
                                                                                                    ..
16566       Fajita Mix                                            123       4              10.9      1
16567       Premium Enriched Egg Noodles Barley Shape             33        6              4.8       1
16568       Dishwasher Detergent                                  74        17             9.1       1
16569       Hummus Original                                       67        20             3.9       1
49688       Fresh Foaming Cleanser                                73        11             13.5      1
Name: count, Length: 49688, dtype: int64

In [19]:
df_prods.shape

(49693, 5)

In [20]:
df_prods.count

<bound method DataFrame.count of        product_id                                       product_name  \
0               1                         Chocolate Sandwich Cookies
1               2                                   All-Seasons Salt
2               3               Robust Golden Unsweetened Oolong Tea
3               4  Smart Ones Classic Favorites Mini Rigatoni Wit...
4               5                          Green Chile Anytime Sauce
...           ...                                                ...
49688       49684          Vodka, Triple Distilled, Twist of Vanilla
49689       49685                 En Croute Roast Hazelnut Cranberry
49690       49686                                   Artisan Baguette
49691       49687         Smartblend Healthy Metabolism Dry Cat Food
49692       49688                             Fresh Foaming Cleanser

       aisle_id  department_id  prices
0            61             19     5.8
1           104             13     9.3
2            94              7     4.5
3            38              1    10.5
4             5             13     4.3
...         ...            ...     ...
49688       124              5     5.3
49689        42              1     3.1
49690       112              3     7.8
49691        41              8     4.7
49692        73             11    13.5

[49693 rows x 5 columns]>

In [21]:
df_prods['Total'] = len(df_prods)

In [22]:
print(df_prods)

       product_id                                       product_name  \
0               1                         Chocolate Sandwich Cookies
1               2                                   All-Seasons Salt
2               3               Robust Golden Unsweetened Oolong Tea
3               4  Smart Ones Classic Favorites Mini Rigatoni Wit...
4               5                          Green Chile Anytime Sauce
...           ...                                                ...
49688       49684          Vodka, Triple Distilled, Twist of Vanilla
49689       49685                 En Croute Roast Hazelnut Cranberry
49690       49686                                   Artisan Baguette
49691       49687         Smartblend Healthy Metabolism Dry Cat Food
49692       49688                             Fresh Foaming Cleanser

       aisle_id  department_id  prices  Total
0            61             19     5.8  49693
1           104             13     9.3  49693
2            94              7     4.5  49693
3            38              1    10.5  49693
4             5             13     4.3  49693
...         ...            ...     ...    ...
49688       124              5     5.3  49693
49689        42              1     3.1  49693
49690       112              3     7.8  49693
49691        41              8     4.7  49693
49692        73             11    13.5  49693

[49693 rows x 6 columns]